<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/navbar.css">

    <title>Home</title>
  </head>
  <body>
    <div class="container-General">
      <h2 class="logo">CAFECITO</h2>

      <div class="login-container card-container">
        <h1 class="title">Nespresso</h1>

        <div class="grid">
          <button class="card">
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita</p>
          </button>
          <button class="card">
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita</p>
          </button>
          <button class="card">
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita</p>
          </button>
          <button class="card">
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita</p>
          </button>
        </div>
      </div>

      
      <div class="login-container card-container">
        <h1 class="title">Nespresso</h1>

        <div class="grid">
          <button class="card">
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita</p>
          </button>
          <button class="card">
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita</p>
          </button>
          <button class="card">
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita</p>
          </button>
          <button class="card">
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita</p>
          </button>
        </div>
    </div>
    
    <div class="footer">
      <hr>
      <br>
      <br>
      <br>
    </div>
  </body>
</html>
