<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <link rel="stylesheet" href="css/navbar.css" />

    <title>Home</title>
  </head>

  <body class="coso">
    <div id="sidebar" class="overlay">
      <div class="modal right">
        <div id="sidebar-block" class="modal-content right">
          <h3>Carretilla</h3>
          <div class="login-container card-container right">
            <h1 class="title">Nespresso</h1>

            <div id="added-capsules" class="grid column">
              <button
                class="card"
                data-name="card"
                data-img-src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
                data-capsule-name="capsulita"
                data-brand="nesspresso"
              >
                <img
                  src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
                />
                <p class="image-descriptor">Capsulita</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modal" class="overlay">
      <div class="modal">
        <div id="modal-block" class="modal-content">
          <div class="first-content">
            <img
              class="image"
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
          </div>

          <div class="right-modal-part">
            <h2 class="">Nombre Cafe</h2>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatem optio illo obcaecati iste commodi laudantium numquam
              aperiam officia, omnis, perspiciatis sequi architecto perferendis
              similique iure facilis asperiores eveniet voluptatibus enim?
            </p>

            <div class="buy-section">
              <span class="buy-cart">Agregar al Carrito</span>
              <button
                id="add-cart"
                class="material-symbols-outlined add-button"
              >
                add_circle
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main" class="container-General">
      <nav class="navigator">
        <button class="button button-left material-symbols-outlined">
          person
        </button>

        <h2 class="logo">CAFECITO</h2>

        <button
          id="shopping-cart"
          class="button button-right material-symbols-outlined"
        >
          shopping_cart
        </button>
      </nav>

      <div class="login-container card-container">
        <h1 class="title">Nespresso</h1>

        <div class="grid">
          <button
            class="card"
            data-name="card"
            data-img-src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            data-capsule-name="capsulita333"
            data-brand="nesspresso"
          >
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita333</p>
          </button>
          <button
            class="card"
            data-name="card"
            data-img-src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            data-capsule-name="capsulita666"
            data-brand="nesspresso"
          >
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita666</p>
          </button>
          <button
            class="card"
            data-name="card"
            data-img-src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            data-capsule-name="capsulita"
            data-brand="nesspresso"
          >
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita</p>
          </button>
          <button
            class="card"
            data-name="card"
            data-img-src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            data-capsule-name="capsulita"
            data-brand="nesspresso"
          >
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita</p>
          </button>
        </div>
      </div>

      <div class="login-container card-container">
        <h1 class="title">Nespresso</h1>

        <div class="grid">
          <button
            class="card"
            data-name="card"
            data-img-src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            data-capsule-name="capsulita"
            data-brand="nesspresso"
          >
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita</p>
          </button>
          <button
            class="card"
            data-name="card"
            data-img-src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            data-capsule-name="capsulita"
            data-brand="nesspresso"
          >
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita</p>
          </button>
          <button
            class="card"
            data-name="card"
            data-img-src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            data-capsule-name="capsulita"
            data-brand="nesspresso"
          >
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita</p>
          </button>
          <button
            class="card"
            data-name="card"
            data-img-src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            data-capsule-name="capsulita"
            data-brand="nesspresso"
          >
            <img
              src="https://www.nespresso.com/ecom/medias/sys_master/public/15064878022686/C-0892-plp-image-318px318px.png?impolicy=product&imwidth=150"
            />
            <p class="image-descriptor">Capsulita</p>
          </button>
        </div>
      </div>
    </div>

    <div class="footer">
      <br />
      <br />
      <br />
    </div>
  </body>

  <script lang="javascript">
    let capsules = {}
    let selectedCapsule = {}

    const mainContainer = document.getElementById("main")
    const body = document.body
    const addCapsulesContainer = document.getElementById("added-capsules")

    const modal = document.getElementById("modal")
    const modalBlock = document.getElementById("modal-block")
    const modalAddCartButton = document.getElementById("add-cart")
    const modalCardButtons = document.querySelectorAll('[data-name="card"]');

    const openModal = (event) => {
      const target = event.currentTarget
      const dataSet = target.dataset

      body.className = "stop-scroll"
      modal.className = "overlay open"
      mainContainer.style.filter = "blur(1px)"
      mainContainer.style.paddingRight = "14px"

      selectedCapsule = { imgSrc: dataSet.imgSrc, capsuleName: dataSet.capsuleName, brand: dataSet.brand }
    }
    const closeModal = () => {
      modal.className = "overlay"
      body.className = ""
      mainContainer.style.filter = "none"
      mainContainer.style.paddingRight = "0"

      selectedCapsule = {}
    }
    const handleCardButtonClicks = (event) => {
        const oldBrandCapsules = capsules[selectedCapsule.brand] || []
        const { capsuleName, imgSrc, brand } = selectedCapsule

        capsules = { ...capsules, [brand]: [...oldBrandCapsules, { capsuleName, imgSrc }] }
      }

    modal.addEventListener("click", closeModal)
    modalBlock.addEventListener("click", (event) => event.stopPropagation())
    modalAddCartButton.addEventListener("click",handleCardButtonClicks)
    modalCardButtons.forEach(cardButton => {
      cardButton.addEventListener("click", openModal)
    })

    const sidebar = document.getElementById("sidebar")
    const sidebarBlock = document.getElementById("sidebar-block")
    const marketButton = document.getElementById("shopping-cart")

    const openSidebar = () => {
      body.className = "stop-scroll"
      sidebar.className = "overlay open"
      mainContainer.style.filter = "blur(1px)"
      mainContainer.style.paddingRight = "14px"

      const capsulesAsElements =  capsules.nesspresso.map(capsule => {
        const button = document.createElement("button")
        button.className = "card"
        button.dataset = {...capsule, name: "capsulita"}

        const img = document.createElement("img")
        img.src = capsule.imgSrc

        const p = document.createElement("p")
        p.innerText = capsule.capsuleName
        p.className = "image-descriptor"

        button.appendChild(img)
        button.appendChild(p)

        return button
      })

      capsulesAsElements.forEach(capsuleHTML => {
        addCapsulesContainer.appendChild(capsuleHTML)
      })
    }
    const closeSidebar = () => {
      sidebar.className = "overlay"
      body.className = ""
      mainContainer.style.filter = "none"
      mainContainer.style.paddingRight = "0"
    }

    marketButton.addEventListener("click", openSidebar)
    sidebar.addEventListener("click", closeSidebar)
    sidebarBlock.addEventListener("click", (event) => event.stopPropagation())
  </script>
</html>
