* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
.stop-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

header {
  background-size: cover;
  height: 600px;
}

.container-General {
  padding: 0;
  background-color: #212529;
  min-height: 100vh;
  z-index: 2;
}

.navBar {
  text-align: center;
  padding-top: 2%;
  margin-bottom: 9%;
}

.a {
  background-color: white;
  text-align: center;
  height: 1000px;
  color: black;
}

.title {
  font-size: 24px;
}

.logo {
  color: white;
  padding: 2% 0;
  text-align: center;
  font-size: 30px;
}

.login-container {
  background-color: whitesmoke;
  border-radius: 15px;
  width: 40%;
  color: black;
  padding: 30px;
  margin: 40px auto;
}

.login-container input,
.login-container button {
  margin-bottom: 10px;
}

.card-container {
  margin-bottom: 10px;
}
.card-container.right {
  width: 100%;
}
.card-container:last-child {
  margin-bottom: 0;
}

.navigator {
  display: flex;
  justify-content: space-between;
}

.input,
.button {
  width: 100%;
  height: 30px;
}

.input {
  border: none;
  background-color: #00000015;
  border-radius: 10px;
  padding: 0 10px;
}
.button {
  border: none;
  background-color: #4c54d2;
  color: white;
  border-radius: 10px;
  padding: 0 10px;
}
.comprate-label {
  color: red;
  text-decoration: underline;
}

.grid {
  display: flex;
  gap: 15px;
  flex-flow: wrap;
}
.grid.column {
  flex-direction: column;
}
.card {
  flex: 1;
}

.image-descriptor {
  font-size: 20px;
}

.overlay {
  height: 100vh;
  background-color: #87878780;
  position: fixed;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
.overlay.open {
  pointer-events: all;
  opacity: 1;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modal.right {
  justify-content: end;
  align-items: auto;
}

.modal-content {
  width: fit-content;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 10px 30px 8px rgb(0 0 0 / 50%);
  min-width: 70%;
  max-width: 60%;
  display: flex;
}
.modal-content.right {
  border-radius: 0;
  height: 100%;
  min-width: 40%;
  display: block;
  overflow-y: scroll;
}
.modal-content > * {
  flex: 1;
}
.first-content {
  flex: 0.5;
}
.right-modal-part > * {
  margin-top: 10px;
}
.right-modal-part > *:first-child {
  margin-top: 0px;
}

.image {
  margin: 0 auto;
  display: block;
}

.buy-cart {
  font-weight: bold;
  vertical-align: middle;
}
.add-button {
  color: #4c54d2;
  border-radius: 50%;
  border: none;
  background: none;
  vertical-align: middle;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.add-button:hover {
  color: #4c54d2cc;
}

.footer {
  background-color: #212529ee;
  border-top: 1px solid #4c54d2;
}

@media screen and (max-width: 1000px) {
  .input,
  .button {
    font-size: 18px;
  }

  .login-container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .modal-content {
    flex-direction: column;
    max-width: 90%;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 48;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.button-left {
  margin-left: 2%;
  width: fit-content;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 50%;
  padding: 10px;
  height: fit-content;
}
.button-left:hover {
  background-color: #4c54d2cc;
}

.button-right {
  margin-right: 2%;
  width: fit-content;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 50%;
  padding: 10px;
  height: fit-content;
}
.button-right:hover {
  background-color: #4c54d2cc;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #797979 #212529;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #212529;
}

*::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 10px;
  border: 3px solid #212529;
}
